body {
  color: grey;
}

.card {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.card-body {
  padding: 4px;

  padding-top: 10px;
}

.card-text {
  margin-top: 79px;
  font-size: 19px;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 520px;
}

.github-link {
  margin-top: 10px;
}

.weather-chart {
  border: 1px solid rgb(105, 101, 101);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

.btn-primary {
  border: none;
}

.icon {
  position: relative;

  left: 7px;
  font-size: 95px;

  top: -17px;
}

.other-data {
  position: relative;
  top: 38px;
  left: -40px;
}

.humidity {
  margin-bottom: 2px;
}

h1 {
  color: black;
  font-size: 67px;
  display: inline-block;
}

h3 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.right-title {
  font-size: 28px;
}

.date {
  font-size: 19px;
}

.metric-temp {
  position: relative;
  top: -35px;
  left: 10px;
}

.right-text {
  position: relative;
  top: 28px;
  right: 5px;
  text-align: right;
}

.card-uppertext {
  margin: 0;
}

.col-6 {
  margin-top: 26px;
}

form {
  text-align: center;
}

.forecast-icon {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#celsius-link,
#fahrenheit-link {
  color: rgb(116, 116, 212);
  cursor: pointer;
  text-decoration: none;
}

#celsius-link:hover,
#fahrenheit-link:hover {
  text-decoration: underline;
}

.max-temp {
  color: black;
}

#celsius-link.active,
#fahrenheit-link.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
